@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');



* {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

/* #banner{
    display: none;
} */
#banner-mobile {
    visibility: none;
    display: none;
}

.header {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
    margin: 30px 0px 20px 435px;
}

input::placeholder {
    padding-left: 9px;
    font-size: large;
}

input {
    padding-left: 9px;
    font-size: large;
}

h1 {
    color: white;
}

#searchbar {
    height: 50px;
    width: 450px;
    cursor: pointer;
    border: none;
    outline: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

#btn {
    height: 50px;
    width: 65px;
    cursor: pointer;
    background-color: black;
    border: none;
    outline: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

form {
    display: flex;
}

#data{
    background-color: white;
    z-index: 99;
    position: absolute;
    width: 900px;
    height: 160px;
    top: 200px;
    left: 250px;
    border-radius: 26px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}


#data-mobile{
    display: none;
    visibility: hidden;

}
.container-data:nth-child(1){
  flex: 1;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* word-wrap: break-word; 
  text-overflow: ellipsis; 
  overflow: hidden; */
}

.headings{
    padding: 20px 10px 10px 10px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
}
.headings.border-left{
    border-left: 0.5px solid gray ;
}

.container-data:nth-child(2){
    flex: 4;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    word-wrap: break-word; 
    text-overflow: ellipsis; 
    overflow: hidden;
  }
  .dataGen{
    font-size: large;
    padding: 10px;
    font-weight: bolder;
  }
  .dataGen.border-left{
    border-left: 0.5px solid  gray;
  }


span{
    max-width: 100%;
}


#map{
    height: 450px;
    z-index: 0;
}
@media only screen and (max-width:600px) {
    #banner {
        display: none;
    }

    #banner-mobile {
        visibility: visible;
        display: block;
        width: 100%;
    }

    .header {
        position: absolute;
        z-index: 99;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 15px 0 5px 30px;
    }
    

    #searchbar {
        height: 50px;
        width: 230px;
        cursor: pointer;
        border: none;
        outline: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;

    }

    #btn {
        height: 50px;
        width: 65px;
        cursor: pointer;
        background-color: black;
        border: none;
        outline: none;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    input::placeholder {
        padding-left: 5px;
        font-size: small;
    }

    input {
        padding-left: 5px;
        font-size: small;
    }
    #map{
        height: 600px;
        z-index: 0;
    }

    #data{
        display: none;
        visibility: hidden;
    }
    #data-mobile{
        display: flex;
        flex-direction: column;
        justify-content: center;
        visibility: visible;
        width: 300px;
        height: 325px;
        background-color: white;
        border-radius: 26px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
        z-index: 100;
        position: absolute;
        top: 170px;
        left: 30px;
    }

    .data-containers-mobile{
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
  .headings-mobile{
    flex-grow: 1;
    padding-top: 5px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 1px;
    font-size: small;
    text-align: center;

  }
  .container-data-mobile{
    flex-grow: 3;
    padding-top: 5px;
    font-size: large;
    font-weight: bolder;
    text-align: center;
  }
.active{
    display: flex;
}
#mobile{
    display:none;
}


}

